[submodule "official_baseline_classifier"]
	path = official_baseline_classifier
	url = https://github.com/wenh06/python-classifier-2020.git
[submodule "official_scoring_metric"]
	path = official_scoring_metric
	url = https://github.com/wenh06/evaluation-2020.git
[submodule "torch_ecg"]
	path = torch_ecg
	url = https://github.com/DeepPSP/torch_ecg.git
